/* 
    Document   : fondomovil
    Created on : 28-abr-2013, 12:26:15
    Author     : stivenson
    Description:
        Purpose of the stylesheet follows.
*/


/* Center the website */
#wrapper_deco1{
    width: 100px;
    margin:0 auto;
}

/* Give the header a height and a background image */
#headere_deco1{
    height:80px; 
    background: #fff url(background_deco1.jpg) repeat-y scroll left top;
    text-align:center;
}

/* Create a Shadow Overlay */ 
#headere_deco1 div{
    width:100px;
    height:80px;
    background: transparent url(overlay_deco1.png) no-repeat scroll left top;
}

/* Vertically position header text and style it*/
#headere_deco1 h1{
    padding-top:0px;
    font-family: Arial, "MS Trebuchet", sans-serif;
    color:white;
}

/* Give basic styles to the body and the navigation */


